
*{
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
}
footer{
    font-size:20px;
    background: #d1eeff;
    width: 100%;
    
}

.new{
    border-radius: 10px;background-color: rgb(185, 222, 255);width: 339px;display: inline-block;margin: 10px;/*! height: 10px; */height: 257px;border: 1px #9ec8cc solid;box-shadow: 0 2px 3px 0 #cdcedb;

   }



  button{
    background-color: #1d82bf;
  color: #fff;


  }

  
#hideMe {
  -moz-animation: cssAnimation 0s ease-in 1s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 0s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 1s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 1s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}
  
  a{text-decoration:none;}

  .waku{
    border-radius: 10px;
    background-color: rgb(185, 222, 255);
    width: 230px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0px 2px 4px #99bbd9;
    border: 1px #9adaff solid;
  }
  .loop-wrap {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 25px;
  background: #fff;
  border: 3px #ddd dotted;
}
.loop-area {
  display: flex;
  animation: loop-slide 20s infinite linear 1s both;
  list-style: none;
  margin: 0;
  padding: 0;
}
.loop-area .content {
  width: 500px;
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
    
.logo:hover {
  background: #f4f4f4;
  border-radius: 10px;
  border:2px #ddd solid;
}
.n:hover{
    background:aliceblue;
    width:96px;
}

.n{
    display:inline-block;
}

.word:hover{
    border:2px #ddd dashed;
    border-radius: 2px;
    
}

.word{
    color: #000;
}

a{
    text-decoration: none;
}