*{
    margin-right: auto;
   margin-left: auto;
    text-align:center;
   }
   
   
   .sw:hover{
    font-weight:bold;
    text-decoration:underline;
    }
   
   .header-button:hover{
    background-color: #f0fbff5e;
   border-radius: 4px;
   }
   
   button:hover{
    box-shadow: 2px 10px 13px #f0f0f0;
   font-weight: bold;
   color: #e8e8e8;
   }
   
   
   .banana1:not(:target) {
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.5s, visibility 0.5s;
   }
   
   .banana1 {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   }
   
   
   #page-top a{
   background:#942D2F;
   color:#fff;
   text-align: center;
   display: block;
   text-decoration: none;
   padding:20px;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   font-size: 0.8rem;
   transition: all 0.3s;
   }
   
   #page-top a:hover{
   background: #777;
   }
   
     dialog{
       z-index:3;
     }
   
   .space{
     
     height:8vh;
   }
 
   a:hover{
    text-decoration: underline;
   }

   .text-mini{
    text-align: left;
    font-size: 12px;
    color: #686868;
   }
