*{
    border-radius: 10px;
    
  
 font-family: "M PLUS 1", sans-serif;
font-optical-sizing: auto;
font-style: normal;
  } 

   .new{
    border-radius: 10px;background-color: rgb(185, 222, 255);width: 339px;display: inline-block;margin: 10px;/*! height: 10px; */height: 257px;border: 1px #9ec8cc solid;box-shadow: 0 2px 3px 0 #cdcedb;

   }

   .img{
   width: 180px; height: 85px;
  }

  button{
    background-color: #1d82bf;
  color: #fff;
  border: 2px #fff5f5 solid;
  cursor: pointer;


  }


  button:active{
    font-weight: bold;
    background-color:blue;
  }

#hideMe {
  -moz-animation: cssAnimation 0s ease-in 0.5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 0.5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 0.5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 0.5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}
  
  a{text-decoration:none;}

  .waku{
    border-radius: 10px;
    background-color: rgb(185, 222, 255);
    width: 230px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0px 2px 4px #99bbd9;
    border: 1px #9adaff solid;
  }
  .loop-wrap {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 25px;
  background: #fff;
  border: 3px #ddd dotted;
}
.loop-area {
  display: flex;
  animation: loop-slide 20s infinite linear 1s both;
  list-style: none;
  margin: 0;
  padding: 0;
}
.loop-area .content {
  width: 500px;
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
    
.logo:hover {
  background: #f4f4f4;
}


.logo:active{
    background:#ddd
}
.n:hover{
    background:aliceblue;
    width:96px;
}

.n{
    display:inline-block;
}


.sw:hover{
    font-weight:bold;
    text-decoration:underline;
    }
      
    

date-tooltip {
  display: inline-block;
  position: relative;
}

date-tooltip::before,
date-tooltip::after {
  -webkit-transition: all 0.2s;
  opacity: 0;
  position: absolute;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 11;
}

date-tooltip::before {
  -webkit-transform: translateY(-50%);
  border-color: transparent #5f6368 transparent transparent;
  border-style: solid;
  border-width: 3px 7px 3px 0;
  content: "";
  height: 0;
  left: calc(100% + 6px);
  top: 50%;
  transform: translateY(-50%);
  width: 0;
}

date-tooltip::after {
  -webkit-transform: translateY(-50%);
  background: #5f6368;
  border-radius: 3px;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: 11px;
  font-weight: 600;
  left: calc(100% + 13px);
  padding: 5px 10px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

date-tooltip:hover {
  cursor: pointer;
}

date-tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}
  
  .header-button:hover{
    background-color: #dddddd30;
    border-radius:0px;
  }

date-tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: #1b9b89;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}
  
  
  .post:active{
     background:#ddd;
  }
  
  
  .uwa:hover{
    
  }
  
  
a {
  color: #333;
  text-decoration: none;
}

.content{
  margin: 0px;
}

.twitter-hashtag {
  background: #1b95e0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  margin-left: 10px;
  padding: 1px 8px 1px 6px;
  vertical-align: bottom;
  &::before {
    background: transparent 0 0 no-repeat;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
    content: "";
    display: inline-block;
    height: 14px;
    padding-right: 3px;
    position: relative;
    top: 2px;
    width: 14px;
    vertical-align: top;
  }
}
  
    
    .header-div{
      background: #fff; border: 1px #ccc solid; box-shadow: 0 2px 3px 0 #ddd; font-size: 100%; padding: 20px;  border-top-left-radius: 0px;border-top-right-radius: 0px;width: 722px;position: fixed;margin-top: -17px;margin-left: 174px;
    }
    
  .qwe{
    border-radius: 10px;background-color: rgb(185, 222, 255);width: 368px;display: inline-block;margin: 10px;/*! height: 10px; */height: 257px;border: 1px #9ec8cc solid;box-shadow: 0 2px 3px 0 #cdcedb;
  }
  .rty{
    border-radius: 10px;background-color: rgb(185, 222, 255);width: 339px;display: inline-block;margin: 10px;/*! height: 10px; */height: 257px;border: 1px #9ec8cc solid;box-shadow: 0 2px 3px 0 #cdcedb;
  }
  .xyz{
    border-radius: 10px;background-color: rgb(185, 222, 255);width: 339px;display: inline-block;margin: 10px;/*! height: 10px; */height: 257px;border: 1px #9ec8cc solid;box-shadow: 0 2px 3px 0 #cdcedb;
  }
  
  .fgjd{
   margin-top: 30px;overflow: hidden;height: 25px;background: #fff;border: 3px #ddd dotted;border-radius: 4px; 
  }
  
  .download-dialogs{
    position: fixed;
  border-radius: 34px;
  border: 5px #76b9ff solid;
  }
 
  
