*{ cursor: url(https://umaidango.github.io/cur/%E7%8C%ABcur.png), default;border-radius: 10px;}
.header {border-bottom: 1px #ddd solid;width: 100%;border-radius: 0px}
a {text-decoration: none;cursor: url(https://umaidango.github.io/cur/%E7%8C%ABpoi.png), pointer;}
.logo {             display: inline-block;         }          
.logo:hover {             
  background-color:#efefef7f;             
  border-radius:10px;         
            }         

.osu:active{
  padding:14px;
  background:#dddddd3d;
  }  
.osu{
  padding: 14px;
}
