*{ 
      border-radius: 10px;
    
  
 font-family: "M PLUS 1", sans-serif;
font-optical-sizing: auto;
font-style: normal;
  border-radius: 10px;}
.header {border-bottom: 1px #ddd solid;width: 100%;border-radius: 0px}
a {text-decoration: none;}
.logo {             display: inline-block;         }          
.logo:hover {             
  background-color:#efefef7f;             
  border-radius:10px;         
            }         

.osu:active{
  padding:14px;
  background:#dddddd3d;
  }  
.osu{
  padding: 14px;
}
